@using Task_Management_Application.Models;
@model IEnumerable<WorkTask>
<table class="table" id="asstaskstable">
    <thead>
        <tr>
            <th>
                Title
            </th>

            <th>
                Deadline
            </th>
            <th>
                Supervisor
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody id="assignedbody">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4" class="dataTables_empty">
                    No matching records found
                </td>
            </tr>
        }
        @foreach (WorkTask task in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => task.Title)
                </td>
                <td>
                    @if (DateTime.Now > task.Deadline)
                    {
                        <span class="text-danger">Time's up</span>
                    }
                    else
                    {
                        @Html.DisplayFor(m => task.Deadline)
                    }
                </td>
                <td>
                    @Html.DisplayFor(m => task.SupervisorUserName)
                </td>
                <td>
                    @Html.ActionLink("Show more info", "ShowTask", "Worker", new { id = task.Id }, null)
                </td>
            </tr>
        }

    </tbody>
</table>
