@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="jumbotron">
    <h1 class="text-center">Task Management Application</h1>
    <hr />
    <p class="lead text-center">Welcome to your company's task management application</p>
    <p class="lead text-center">In order to use it, you first need to</p>
    <div class="col text-center">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
    </div>
    <p class="lead text-center">Or if you already have an account, please</p>
    <div class="col text-center">
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
    </div>
</div>

    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Getting started</h2>
            <p>
                This application will enable management, searching, review and assignment of tasks in an organization and will aim to facilitate all concerned and responsible employees in working with a large number of tasks...
            </p>
            <p>@Html.ActionLink("Learn More >>", "About", "Home", new {@class="btn btn-primary"})</p>
        </div>
        <div class="col-md-6 text-center">
            <h2>Developer</h2>
            <p>Learn more about the developer of the application</p>
            <p>@Html.ActionLink("Learn More >>", "Contact", "Home", new { @class = "btn btn-primary" })</p>        
        </div>
    </div>

